<html ng-app="checkmail">
	<head>
		<title>CheckMail</title>

		<link rel="stylesheet" href="css/checkmail.css">
	</head>
	<body ng-controller="AppCtrl">
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<!-- Navbar label navigation -->
				<div class="navbar-left-side">
					<ul class="nav navbar-nav quick-nav-labels">
						<li ng-repeat="board in boards"><a href="#board-{{ $index }}" scroll-on-click>{{ board.title }}</a></li>
				    </ul>
				</div>

		    	<!-- Navbar logo and extras -->
		    	<!-- Help and settings -->
			    <div class="navbar-right-side">
			    	<button class="btn navbar-btn btn-sm btn-inverted-success">Compose</button>
			    	<ul class="nav navbar-nav pull-right">
					 	<li><a href="#"><i class="ion-ios7-help"></i></a></li>
			    		<li><a href="#"><i class="ion-ios7-gear"></i></a></li>
			    		<li><a href="#" class="navbar-brand"><img src="img/logo.svg" height="19" alt=""></a></li>
			    	</ul>
			    </div>
			</div>
		</header>

		<!-- Workspace -->
		<section class="workspace">

			<!-- Email column container: All Email Lists -->
			<div ui-sortable class="email-columns" style="width: {{workspace_width}}px;">

				<div class="scroll-wrapper">
					<!-- Individual email column -->
					<!-- DH: The column has the class "email-column-fixed-left" if
					its label is "Inbox" right now. This should be enough to get
					you started.-->
					<div id="board-{{ $index }}"
						 class="email-column" 
					     ng-repeat="board in boards"
					     ng-class="{true: 'email-column-fixed-left'}[board.title == 'Inbox']">
					
						<!-- Email panel -->
						<div class="panel panel-email">
					
							<!-- Panel heading -->
							<div class="panel-heading email-heading">
								<h4 class="email-label">{{ board.title }}</h4>
								<ul class="email-column-decorations">
									<li><a href="#"><i class="shared-icon ion-ios7-people"></i></a></li>
									<li><a href="#"><i class="shared-icon ion-ios7-arrow-down"></i></a></li>
								</ul>
							</div>
						
							<!-- Email group -->
						  	<ul ui-sortable="emailGroupSortableOptions" ng-model="board" class="list-group email-group">
					
						  		<!-- Email-item -->
						  		<!-- TODO: This ng-class expression should be refactored into a method within the controller -->
							    <li class="list-group-item email-item" 
							    	ng-class="{true: 'selected'}[email==selected_email] + ' ' +
							    			  {true: 'completed'}[email.is_complete] + ' ' +
							    			  {true: 'highlighted'}[email.is_highlighted] + ' ' +
							    			  {true: 'todos-open'}[email.todos_open] + ' ' +
							    			  {false: 'unread'}[email.is_read]"
							    	ng-repeat="email in board.emails">
					
							    	<!-- Email metadata -->
							    	<div class="email-item-content"
							    		 ng-click="toggleHighlight(email); toggleTodos(email)">
					
							    		<a href="#" class="todo-indicator">
							    			<!-- The "skin" is the angled color. The "tally" is the... tally. You guessed it. -->
							    			<div class="todo-indicator-skin"></div>
							    			<div class="todo-indicator-tally">{{ email.todos.length }}</div>
							    		</a>
					
							    		<!-- Sender, timestamp, and subject -->
										<div class="email-item-metadata">
											<h5 class="email-sender">{{ email.sender }} <small class="email-datetime">{{ email.timestamp }}</small></h5>
											<span class="email-subject">{{ email.subject }}</span>
										</div>
							    	</div>
									
									<!-- Tasks associated with email -->
									<div ui-sortable ng-model="email.todos" class="list-group email-todo-list">
										<a href="#" 
										   class="list-group-item email-todo-item" 
										   ng-class="{true: 'completed', false: 'incomplete'}[todo.completed]"
										   ng-click="todo.completed = !todo.completed"
										   ng-repeat="todo in email.todos">
										   {{ todo.action }}
									   	</a>
										
										<input type="text" 
											   class="list-group-item add-email-todo-item" 
											   placeholder="Add a todo item..."
											   ng-model="email.todo_temp"
											   enter-submit="addTodo(email)">
									</div>
							    </li>
						  	</ul>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Drag To Trash -->
			<div class="trashcan">
				<a href="" class="trashcan-icon"></a>
			</div>

		</section>

		<!-- Sidebar -->
		<section class="sidebar email-viewer">

			<!-- Just a placeholder For A Thread -->
			<div class="panel panel-thread thread-message">
				<div class="panel-heading thread-message-heading">
					<div class="message-reply-icons ionicons">
						<a href="" class="reply-icon"></a>
						<a href="" class="replyall-icon"></a>
						<a href="" class="fwd-icon"></a>
					</div>
					<h4 class="thread-message-title">Re: Notification Settings</h3>
					<ul class="thread-title-subtext">
						<li>To: <span class="thread-message-to thread-title-subtext">dant@stanford.edu, sara@squarespace.com</span></li>
						<li>From: <span class="thread-message-from thread-title-subtext">Daniel Haarburger</span><span class="thread-message-date"> on 10/24/2013</span></li>
					</ul>


					<!-- <p>To: <span class="thread-message-to thread-title-subtext">dant@stanford.edu, sara@squarespace.com</span></p>
					<p>From: <span class="thread-message-from thread-title-subtext">Daniel Haarburger</span></p> -->
					<hr>
				</div>
  				<div class="panel-body">
  					<p>
    				Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
					<br><br>
					From, <br>
					Daniel H.
    			</p>
  				</div>
			</div>


			<div class="quick-reply-wrapper" ng-class="{true: 'qr-compressed', false:'qr-expanded'}[qr_state]">
				<div class="panel panel-thread quick-reply" >

					<!-- Quick Replay toggles between qr-compressed and qr-expanded -->
					<form class="quick-reply-form" action="">
						<div class="quick-reply-input">
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="quick-reply-submit">
							<button type="submit" class="btn btn-success btn-block">Submit</button>
						</div>
						<div class="quick-reply-cancel">
							<button type="reset" class="btn btn-default btn-sm btn-block">Clear</button>
						</div>
					</form>
				</div>

			
				<!-- When this button is pressed it should toggle the class of the wrapper  -->
				<a href="" class="qr-expand" ng-click="qr_state = !qr_state"><span ng-bind="{true: 'Expand', false:'Compress'}[qr_state]"></span> Quick Reply</a>
			</div>
			

		</section>

		<!-- JAVASCRIPT -->

		<!-- jQuery -->
	  	<script src="js/third-party/jquery.min.js"></script>
		<script src="js/third-party/jquery-ui.js"></script>

		<!-- Angular -->
		<script src="js/third-party/angular.js"></script>
		<script src="js/third-party/ui-sortable.js"></script>

		<!-- App -->
		<script src="js/app.js"></script>
	</body>
</html>