<section class="sidebar email-viewer" ng-show="sidebarIsVisible()">

	<!-- View -->
	<!-- Should be moved to view.html eventually -->
	<div class="panel panel-thread" ng-show="threadIsSelected()">
		<div class="panel-heading">
			<h4>{{ state.selected_thread.subject }}</h4>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="email in state.selected_thread.emails">
				<div class="list-group-item-heading row">
					<div class="col-md-8">
						<h5>{{ getFrom(email).name }}:</h5>
					</div>

					<div class="col-md-4 text-right text-green"><h6>{{ email.timestamp | date }}</h6></div>
				</div>
				<div class="list-group-text">
					{{ email.message }}
				</div>
			</li>
		</ul>
		<div class="panel-footer">
			<div class="input-group">
				<span class="input-group-btn dropup">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="ion-reply"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><span class="text-muted ion-reply"></span>&nbsp; Reply</a></li>
						<li><a href="#"><span class="text-muted ion-reply-all"></span>&nbsp; Reply all</a></li>
						<li><a href="#"><span class="text-muted ion-forward"></span>&nbsp; Forward</a></li>
					</ul>

				</span>
				<input type="text" class="form-control" ng-model="reply" placeholder="Reply">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="expandReply()"><span class="ion-arrow-expand"></span></button>
					<button class="btn btn-success" ng-click="replyToThread(state.selected_thread, reply)">Send</button>
				</span>
			</div>
		</div>
	</div>

	<!-- Composing -->
	<!-- Should be moved to compose.html eventually -->
	<div class="panel panel-thread" ng-show="composingEmail()" ng-controller="ComposeCtrl">
		<div class="panel-heading email-compose-metadata">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="To" spellcheck="false" ng-model="draft.to">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Subject" spellcheck="false" ng-model="draft.subject">
			</div>
		</div>
		<div class="panel-body email-compose-body" contenteditable="true" placeholder="Yo" ng-model="draft.content"></div>
		<div class="panel-footer">
			<button class="btn btn-default" ng-click="closeCompose()">Cancel</button>
			<button class="btn btn-success pull-right" ng-click="sendEmail()">Send</button>
		</div>
	</div>
</section>