
// checkmail.less
//------------------------------
// This file imports all of the modules to form the MegaStylesheet™. The basic
// order of business is to import the things that other things will
// probably need to refer to first.

// Compilation Instructions:
//------------------------------
// I highly recommend using CodeKit to build out this file. LESS.app doesn't
// do so well with the imports. Set the output path of this file
// <checkmail.less> to ../css/checkmail.css (so it should compile in the CSS
// folder contained within the parent directory). <checkmail.css> should
// eventually be the only file contained within that directory, and it should
// be compressed and minified eventually. Right now GitHub says our project is
// like 70% CSS. That's kind of silly, and I bet we can whittle that number
// down eventually.


// Dat bootstrap
@import "bootstrap/bootstrap";

// Pretty icons
@import "ionicons";

// Customize everything
@import "variables";               // Redefining Bootstrap variables
@import "ionicons-customizations"; // Just a few changes to make the icons play a little nicer with Bootstrap
@import "mixins";                  // Mixins to augment Bootstrap mixins
@import "extensions";              // Reusable xtensions to Bootstrap elements

// Main components
// (these should probably eventually be refactored into smaller files)
@import "workspace"; // The main "Trello" board


@import "sidebar";   // The sidebar for email viewing


@import "navbar"; // Custom navigation styling

// Lonesome variables
@sidebar-width:      30%;
@email-column-width: 230px;

@padding-top-sidebar:  @padding-base-horizontal;
@margin-top-workspace: @padding-base-horizontal;

// This CSS is doing the lord's work
// (stopping Safari from bouncing everywhere when you scroll)
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}