.button-inverted-variant(@color; @background; @hover; @border) {
    color: @color;
    background-color: transparent;
    border-color: @border;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
        color: @hover;
        background-color: @background;
                border-color: @border;
    }
    &:active,
    &.active,
    .open .dropdown-toggle& {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: @background;
                    border-color: @border;
        }
    }

    .badge {
        color: @background;
        background-color: @color;
    }
}