// sidebar.less
//------------------------------
// Styling for the sidebar. Not much more to it.

.sidebar {
	position: absolute;
	top: @navbar-height;
	bottom: 0;
	right: 0;
	width: @sidebar-width;

	overflow-y: auto;

	// FIXME: This means the sidebar will overlap the workspace
	// min-width: 400px;

	padding: @padding-top-sidebar @padding-base-horizontal;
}

// This is going to need to be fixed when we sort out sidebar scaling
.trashcan{
	
	position: fixed;
	bottom: 10px;
	left: 65%;
	width: 100%;
	

	a{
		padding: 10px;
		padding-left:20px;
		border-radius: 100px;
		.ion;
		font-size: 40px;
		background-color: gray;
		color: @gray-lighter;
		font-weight: bold;
		width: 100%;

		&:hover{
			background-color: @gray-dark;
			text-decoration: none;
		}
	}
	.trashcan-icon:before{
		content: "\f1eb";

	}
}

.email-viewer {
	background-color: @gray;
	border-left: 1px solid @gray-lighter;
}



// Thread Window Styling

.panel-heading.thread-message-heading{
	.thread-message-heading
}

.thread-message-heading{
	background-color: #fff;
	color: @gray-dark;
	padding-bottom: 0;
	border-bottom: none;
	// background-color: @gray-dark;
	
	
	.panel-heading.thread-message-heading:hover .message-reply-icons{
		background-color: pink;
	}
	
	.message-reply-icons{

		font-size: 1.65em;
		position: absolute;
		right: 30px;
		top: 30px;
		

		a {
			color: gray;
			text-decoration: none;
			margin: 10px 6px;
			opacity: 0.45;
			&:hover{
				color: green;
				opacity: 1;
			}

		}
		.ionicon{
			.ion;
		}
		.reply-icon:before{
			content: "\f21e";
		}
		.replyall-icon:before{
			content: "\f21d";
		}
		.fwd-icon:before{
			content: "\f13a"
		}
		
	}


	.thread-message-date{
				color: green;
				font-weight: light;
				.text-sm;
				opacity: 0.8;
				// float: right;
				
			}
	.thread-message-title{
		width: 100%;
		
	}
	h4{
		margin-bottom: @padding-base-vertical;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li{
		color: @gray;
		  width: 95%;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  opacity: 0.5;
	}

	hr{
		margin-bottom: 0px;
		margin-top: 10px;
		// margin-top: @padding-base-vertical;
		// padding:  0;
	}

	
}

.thread-message{
	p{
		margin:10px;
		margin-top: 5px;
			color: @gray;
			opacity: 0.9;
			line-height: 1.6;
	}
}

.quick-reply-wrapper{

	.quick-reply{
		padding: @padding-base-horizontal;
	}

	.quick-reply-form {
		.make-row();
		margin: 0;
	}


	.quick-reply{
		.quick-reply-form{
			width: 100%;	
			margin-bottom: 0;
			textarea{
			}
		
		
			.quick-reply-submit {
				.make-xs-column(3);
				float: right;
			}
			.quick-reply-cancel{
				.make-xs-column(3);
				float: left;
				color: pink;
				.btn-default{
					color: #aaa;
				}
			}

		}
	}


	&.qr-compressed {		
		// Text area when compressed
		textarea {
			.make-xs-column(9);
			height:2.5em;
			margin-bottom: 0px;
		}

		.quick-reply-cancel{
			display: none;
		}
	}

	&.qr-expanded{
		textarea{
			.make-xs-column(12);
			height: 200px;
			margin-bottom: 10px;
		}

		.quick-reply-submit{
			padding: 0px;
		}

	}


	.qr-class-toggle{
		position: relative;
	}

	.qr-expand{
		.text-sm;
		position: relative;
		top: -1.25em;
		color: @gray;
		opacity: 0.75;
		text-decoration: none;

		&:hover{
			opacity: 1;
		}
	}


	
}
