// checkmail.less
//------------------------------
// Styling for the workspace. I'd say a lot of this CSS could be reworked in
// some way. Especially the class names.


.workspace {
	position: absolute;
	top: @navbar-height;
	bottom: 0;
	left: 0;
	right: @sidebar-width;
	// margin-left:-15px;
	margin-left: @email-column-width;
	overflow-x: auto;

	.pretty-horizontal-scrollbar(4px);
}

.email-placeholder {
	// border-radius: @border-radius-small;
	border: 4px solid @green-light;
	display: block;
}

.email-columns {
	.make-row();
	margin: 0;

	padding: 0 @grid-gutter-width;
}

.email-column {
	width: @email-column-width;
	margin: @margin-top-workspace @grid-gutter-width/2;
	float: left;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

.email-label {
	display: inline-block;
	font-weight: 300;
	// text-transform: uppercase;
	// letter-spacing: 4px;
}

.email-heading {
	padding: @panel-heading-padding;
}

.ui-sortable-helper {
	z-index: 1000;
}

.email-column-decorations {
	list-style-type: none;
	margin: 9px 0;
	padding: 0;
	display: inline;
	float: right;

	li {
		display: inline-block;

		a {
			color: #fff;
			font-size: @font-size-large;
			padding: 4px 4px 1px 4px;
			border-radius: @border-radius-small;

			&:hover {
				background: #fff;
				color: @gray-dark;
			}
		}
	}
}

.no-todos {
	.email-item-content{
		.todo-indicator {display:none;}
	}

}

.column-background-hack{
		width:10%;
		height: 100%;
		margin-left: -10%;
		background-color: @gray-darker;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0; 
		display: none;
}

.email-column-fixed-left{
	margin:0;
	position: fixed;
	left: 0px;
	z-index: 20;
	background-color: #fff;
	border-right: 1px solid @gray-light;
	height: 100%;

	// overflow-y: scroll;
	// overflow-x: hidden;

	.email-heading{
		background-color: multiply(@gray-light, @green-primary);
		border-radius: 0px;
		padding-top: 2px + @margin-top-workspace;

		.email-label {
			font-weight: 500;
			border-top: 0px;
		}
	}

	.email-item {
		.email-item-content {
			border-left-width: 0px;
			border-right-width: 0px;

			.todo-indicator-skin {
				left: -28px;
			}
		}
	}

	// .column-background-hack{
	// 	display:block;
	// }
	
}




.email-item {
	padding: 0 0 0px 0;
	border: none;
	background: transparent;

	.email-item-content {
		padding: @panel-body-padding;
		cursor: pointer;

		border: 1px solid @gray-lighter;

		background: #fff;

		h5 {
			margin: 2px 0;
		}

		&:hover {
			background: @email-hover-bg;
		}

	}
	// This implementation is not perfect yet. I propose splitting the
	// background and the indicator into two separate DOM elements. Not very
	// elegant, but it would be more functional.
	.todo-indicator {
		position: absolute;
		right: 10px;
		top: 3px;
		z-index: 0;

		&:hover {
			.todo-indicator-skin {
				border-right-color: darken(@brand-success, 10%);
			}
		}
	}

	.todo-indicator-tally {
		color: #fff;
		.text-sm;
		position: absolute;
		top: 2px;
		right: -2px;
	}

	.todo-indicator-skin {
		content: " ";
		display: block;
		position: absolute;
		left: -29px;
		top: -2px;
		border-bottom: 38px solid transparent;
		border-right: 38px solid @email-indicator-bg;
		z-index: -1;
	}

	// STATES

	// Not selected
	// Note: the best way to implement collapsing todos would be to 
	&:not(.todos-open) {
		.email-todo-list {
			display: none;
		}
	}

	// Selected (visible in sidebar)
	&.selected {
		.email-state-variant(@email-selected-bg,
					 @email-selected-hover-bg,
                     @email-selected-border-color,
                     @email-selected-hover-border-color,
                     @email-selected-sender-color,
                     @email-selected-subject-color,
                     @email-selected-datetime-color,
                     @email-selected-indicator-color,
                     @email-selected-indicator-bg,
                     @email-selected-indicator-hover-bg);
	}

	// Highlighted (selected for... moving? I'm not totally sure yet)
	&.highlighted {
		.email-state-variant(@email-highlighted-bg,
					 @email-highlighted-hover-bg,
                     @email-highlighted-border-color,
                     @email-highlighted-hover-border-color,
                     @email-highlighted-sender-color,
                     @email-highlighted-subject-color,
                     @email-highlighted-datetime-color,
                     @email-highlighted-indicator-color,
                     @email-highlighted-indicator-bg,
                     @email-highlighted-indicator-hover-bg);
	}

	// Unread
	&.unread {
		.email-item-metadata {
			display: block;
			position: relative;

			&:before {
				display: block;
			    content: ".";
			    color: transparent;
			    font-size: 0;

			    border-left: 3px solid @email-unread-indicator-color;
			    height: 100%;
			    position: absolute;
			    left: -9px;
			    top: -2px;
			}
		}
	}

	// 
	&.completed {
		
	}
}

.email-todo-list {
	margin-bottom: 0;
	padding-top: 0px;
	margin-left: 20px;

	width: @email-column-width - 20px;
}

.email-todo-item, .add-email-todo-item {

	border: 1px solid @gray-lighter !important;
	margin-top: 0;
	
}

.add-email-todo-item {
	outline: 0;
	width: 100%;
}

.email-todo-item {

	.text-sm;

	i {
		display: inline-block;
		margin-right: 5px;
	}

	&:first-child {
		border-top: none;
	}

	&:before {
		.ion;
		content: "\f170";
	}

	&.completed {
		background: #eee;

		&:before {
			content: "\f16d";
		}
	}
}

.email-datetime {
	.text-sm;
	color: @brand-success;
	// float: right;
	margin-top: 2px;
}



.sender-and-date{
	width:100%;
	height: 20px;	// Might be worth coming with a better long term system here
	.email-sender {
		.text-strong;
			max-width: 70%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			float: left;
			padding-right: 5px;
	}

	.email-datetime{
		float:left;
	}
}

.email-subject {
	.text-muted;
	.text-sm;
}


// Sidebar Minimizing:
.sidebar.sidebar-inactive{
	right: -@sidebar-width;
}

.sidebar.sidebar_active{
	right: 0;
}

.workspace.sidebar-inactive{
	right: 0;
}

.workspace.sidebar_active{
	right: @sidebar-width;
}


