

<!-- Header Content -->
<div class="modal-header">
    <button class="close" ng-click="close();"><span class="ion-close"></span></button>
    <h4 class="modal-title">Hotkeys</h4>
</div>

<!-- Body Content -->
<div class="modal-body">
	
</div>

<!-- Footer Content -->
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
    <button class="btn btn-success" ng-click="close();">Close</button>
</div>