<!-- Header Content -->
<div class="modal-header">
	<button class="close" ng-click="dismiss('cancel')"><span class="ion-close"></span></button>
	<h3 class="modal-title">Account settings</h3>
</div>

<!-- Body Content -->
<div class="modal-body">

	<hr>
	<div class="account-settings email-account-wrapper">
		<h3>Active Accounts</h3>
		<ul class="active-acctounts-list">
			<li>sampleacct@gmail.com<a href="" class="pull-right">Unlink Account</a></li>
			<li>sampleacct@gmail.com<a href="" class="pull-right">Unlink Account</a></li>
			<!-- <li></li> -->
		</ul>
		<a href="" class="show-me pull-right" id="add-account-button">+ Add Account</a>
	</div>

	<hr>

	Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.

	<hr>  

</div>

<!-- Footer Content -->
<div class="modal-footer">
	<button class="btn btn-default pull-left" ng-click="dismiss('cancel');">Close</button>
	<button class="btn btn-success" ng-click="close();">Save Changes</button>
</div>