<div class="modal fade" id="add-contributor-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Header Content -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Contributors</h3>
            </div>
            
            <!-- Body Content -->
            <div class="modal-body">
                
                <div class="account-settings email-account-wrapper">
                        <br>
                        <ul class="active-acctounts-list">
                                <li><b>Dan H.</b> - dhaar@test.com <a href="" class="pull-right">Delete Contributor</a></li>
                                <li><b>Samwise</b> - Sam@theshire.com<a href="" class="pull-right">Delete Contributor</a></li>
                        </ul>
                        <!-- <a href="" class="show-me pull-right" id="add-account-button">+ Add Account</a> -->

                        <br><br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Put the contributor's email here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Add Contributor!</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->

                </div>
            </div>

            <!-- Footer Content -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>