

<!-- Header Content -->
<div class="modal-header">
    <button class="close" ng-click="close();"><span class="ion-close"></span></button>
    <h4 class="modal-title">About CheckMail</h4>
</div>

<!-- Body Content -->
<div class="modal-body">
    <p>Fusce dapibus, tellus    ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
</div>

<!-- Footer Content -->
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
    <button class="btn btn-success" ng-click="close();">Cool, thanks!</button>
</div>