<section class="sidebar email-viewer">

	<!-- Just a placeholder For A Thread -->
	<div class="panel panel-thread thread-message" ng-repeat="email in selected_thread.emails">
		<div class="panel-heading thread-message-heading">
			

			<div class="message-reply-icons ionicons">
				<a href="" class="reply-icon"></a>
				<a href="" class="replyall-icon"></a>
				<a href="" class="fwd-icon"></a>
			</div>
			<h4 class="thread-message-title">{{ selected_thread.subject }}</h3>
			<ul class="thread-title-subtext">
				<li>
					To: <span class="thread-message-to thread-title-subtext">{{ email.receiver }}</span>
				</li>
				<li>
					From: <span class="thread-message-from thread-title-subtext">{{ email.sender }}</span>
					<span class="thread-message-date"> at {{ email.timestamp }}</span>
				</li>
			</ul>


			<!-- <p>To: <span class="thread-message-to thread-title-subtext">dant@stanford.edu, sara@squarespace.com</span></p>
			<p>From: <span class="thread-message-from thread-title-subtext">Daniel Haarburger</span></p> -->
			<hr>
		</div>
			<div class="panel-body">
		<p>{{ email.message }}</p>
			</div>
	</div>


	<div class="quick-reply-wrapper" ng-class="{true: 'qr-compressed', false:'qr-expanded'}[qr_state]">
		<div class="panel panel-thread quick-reply" >

			<!-- Quick Replay toggles between qr-compressed and qr-expanded -->
			<form class="quick-reply-form" action="">
				<div class="quick-reply-textarea">
					<textarea class="form-control" rows="1" ng-model="current_response"></textarea>
				</div>
				<div class="quick-reply-submit">
					<button type="submit" class="btn btn-success btn-block" ng-click="addReply(current_response);">Submit</button>
				</div>
				<div class="quick-reply-cancel">
					<button type="reset" class="btn btn-default btn-block">Clear</button>
				</div>
			</form>
		</div>

	
		<!-- When this button is pressed it should toggle the class of the wrapper  -->
		<a href="" class="qr-expand" ng-click="qr_state = !qr_state"><span ng-bind="{true: 'Expand', false:'Compress'}[qr_state]"></span> quick reply</a>
	</div>
	

</section>