
	<!-- Email panel -->
	<div class="panel panel-label" ng-class="{true: 'editing'}[label.editing]">

		<!-- Panel heading -->
		<div class="panel-heading label-heading">
			<div class="label-title">
				<h4 class="label-title"
					 ng-click="label.editing = true">
					 {{ label.title }}
				</h4>
			</div>
		</div>

		<div class="label-edit-menu btn-group btn-group-justified" ng-show="label.editing">
			<!-- <div class="btn-group">
				<button class="btn btn-success" ng-click="lockLabel(label)"><span class="ion-locked"></span></button>
			</div>
			<div class="btn-group">
				<button class="btn btn-success" ng-click="addCollaborator(label)"><span class="ion-person-add"></span></button>
			</div> -->
			<div class="btn-group">
				<button class="btn btn-success" ng-click="hideLabel(label)"><span class="ion-eye-disabled"></span></button>
			</div>
		</div>
	
		<!-- Email group -->
	  	<ul ui-sortable="emailGroupSortableOptions" ng-model="label.threads" class="list-group thread-list">

		    <li class="list-group-item thread-item"
		    	ng-repeat="thread in label.threads"
		    	ng-class="{true: 'selected'}[isSelectedThread(thread)] +
		    			  {true: 'unread'}[!thread.read && !(isSelectedThread(thread))] ">

		    	<!-- Email metadata -->
		    	<div class="thread-item-content"
		    	     ng-click="selectThread(thread);">

					<div class="thread-overlay">
						<button class="archive-thread btn btn-success"><span class="ion-checkmark"></span></button>
					</div>

		    		<!-- Sender, timestamp, and subject -->
					<div class="thread-item-metadata">
						<div class="sender-and-date">
							<h5 class="thread-sender">
								<span class="sender-name">{{ thread | displayFrom }}</span>
							</h5>
							<small class="thread-datetime">{{ thread.latest_date | amCalendar }}</small>
						</div>
						<span class="thread-subject">{{ thread.subject }}</span>
					</div>
		    	</div>
		    </li>
	  	</ul>
	</div>