<section ng-class="{true: 'sidebar-visible'}[sidebarIsVisible()]" class="workspace">

	<!-- Email column container: All Email Lists -->
	<div class="email-columns" style="width: {{ (labels.length - 1)*244 }}px;">

		<div class="scroll-wrapper">
			<!-- Individual email column -->
			<!-- DH: The column has the class "email-column-fixed-left" if
			its label is "Inbox" right now. This should be enough to get
			you started.-->
			<div id="label-{{ $index }}"
				 class="email-column" 
			     ng-repeat="label in labels"
			     ng-class="{true: 'email-column-fixed-left'}[label.title == 'Inbox']">
			

				<!-- Email panel -->
				<div class="panel panel-email">

					
			
					<!-- Panel heading -->
					<div class="panel-heading email-heading">
						<h4 class="email-label">{{ label.title }}</h4>
						<ul class="email-column-decorations">
							<li><a href="#"><i class="shared-icon ion-ios7-people"></i></a></li>
							<li><a href="#" ng-click="menu_active = !menu_active"><i class="shared-icon ion-ios7-arrow-down"></i></a></li>
						</ul>
			
						<!-- Panel Menu -->
						<div class="panel-menu" ng-class="{true: 'dont-show-me'}[!menu_active]">
							<ul class="nav nav-stacked">
								<li><a href="#" ng-click="addContributor(label)">Add contributor</a></li>
								<li><a href="#" ng-click="editLabel(label)">Edit label</a></li>
								<li><a href="#" ng-click="addFilter(label)">Add filter</a></li>
							</ul>
						</div>
					</div>
				
					<!-- Email group -->
				  	<ul ui-sortable="emailGroupSortableOptions" ng-model="label.threads" class="list-group email-group">
			
				  		<!-- Email-item -->
				  		<!-- TODO: This ng-class expression should be refactored into a method within the controller -->
					    <li class="list-group-item email-item"
					    	ng-repeat="thread in label.threads"
					    	ng-class="{true: 'selected'}[isSelectedThread(thread)]">
			
					    	<!-- Email metadata -->
					    	<div class="email-item-content"
					    		 ng-click="selectThread(thread);">

								<a href="#" class="delete-email-box" ng-click="archiveThread(thread);">x</a>
			
					    		<!-- Sender, timestamp, and subject -->
								<div class="email-item-metadata">
									<div class="sender-and-date">
										<h5 class="email-sender">
											<span class="sender-name">{{ thread.email_addresses[0].name }}</span>
										</h5>
										<small class="email-datetime">{{ thread.latest_date | date:'shortTime' }}</small>
									</div>
									<span class="email-subject">{{ thread.subject }}</span>
								</div>
					    	</div>

							<!-- Tasks associated with email -->
							<div ui-sortable ng-model="thread.todos" class="list-group email-todo-list">
							
								<a href="#" 
								   class="list-group-item email-todo-item" 
								   ng-class="{true: 'completed', false: 'incomplete'}[todo.completed]"
								   ng-click="todo.completed = !todo.completed"
								   ng-repeat="todo in thread.todos">
								   {{ todo.action }}
							   	</a>
								
								<input type="text" 
									   class="list-group-item add-email-todo-item" 
									   placeholder="Add a todo item..."
									   ng-model="thread.todo_temp"
									   enter-submit="addTodo(thread)">
							</div>
					    </li>
				  	</ul>
				</div>
			</div>
		</div>

	</div>
	
	<!-- Drag To Trash -->
	<div class="trashcan" ng-class="{true: 'sidebar-active', false: 'sidebar-inactive, dont-show-me'}[selected_thread != null]">
		<a href="" class="trashcan-icon" ng-click="selected_thread = null"></a>
	</div>

	
</section>