<html ng-app="checkmail">
	<head>
		<title>CheckMail</title>

		<%= stylesheet_link_tag "checkmail", :media => "all" %>
	    <%= javascript_include_tag "application" %>
	    <%= csrf_meta_tags %>
	</head>
	<body ng-controller="AppCtrl" ng-init="refreshLabels();">
		<navbar></navbar>
		<workspace></workspace>
		<sidebar></sidebar>
	</body>
</html>